/**************** common css start ****************/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800&display=swap");
body {
  font-family: "Roboto Slab", serif;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 28px;
  color: #7c8189;
}

input:hover,
input:focus {
  outline: none !important;
  -webkit-box-shadow: 0px 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px 0px transparent;
}

:focus {
  outline: -webkit-focus-ring-color auto 0;
}

.custom-file-input:focus ~ .custom-file-label {
  border-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section_padding {
  padding: 120px 0px;
}

@media (max-width: 991px) {
  .section_padding {
    padding: 70px 0px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .section_padding {
    padding: 100px 0px;
  }
}

.padding_top {
  padding-top: 120px;
}

@media (max-width: 991px) {
  .padding_top {
    padding-top: 70px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .padding_top {
    padding-top: 100px;
  }
}

.padding_bottom {
  padding-bottom: 120px;
}

@media (max-width: 991px) {
  .padding_bottom {
    padding-bottom: 70px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .padding_bottom {
    padding-bottom: 100px;
  }
}

a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
}

h1 {
  font-size: 64px;
  font-weight: 700;
}

h2 {
  font-size: 62px;
  font-weight: 700;
}

h3 {
  font-size: 36px;
  font-weight: 600;
}

h4 {
  font-size: 28px;
  font-weight: 500;
}

h5 {
  font-size: 22px;
  font-weight: 500;
}

p {
  line-height: 28px;
  font-size: 16px;
  margin-bottom: 0px;
  color: #7c8189;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}

a:focus,
.button:focus,
button:focus,
.btn:focus {
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media (min-width: 1400px) {
  .custom_container {
    max-width: 1200px;
  }
}

.cre_section_title {
  margin-bottom: 73px;
}

.cre_section_title .title {
  font-size: 62px;
  margin-bottom: 5px;
}

.cre_section_title .title span {
  font-weight: 700;
}

@media (max-width: 991px) {
  .cre_section_title .title {
    font-size: 35px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .cre_section_title .title {
    font-size: 35px;
  }
}

.cre_section_title .description {
  margin-top: 15px;
}

.cre_input {
  padding: 13px 20px;
  border: 1px solid #f7f7f7;
  background-color: #fff;
  border-radius: 0;
  color: #7d7d7d;
  font-size: 18px;
  height: auto;
  background-clip: border-box;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cre_input:focus {
  border: 1px solid rgba(242, 101, 34, 0.5);
}

.cre_input:focus::-webkit-input-placeholder {
  color: #111;
}

.cre_input:focus:-ms-input-placeholder {
  color: #111;
}

.cre_input:focus::-ms-input-placeholder {
  color: #111;
}

.cre_input:focus::placeholder {
  color: #111;
}

.zoom_in_effect .masonry_img {
  overflow: hidden;
  display: inline-block;
}

.zoom_in_effect .zoom_in_img {
  -webkit-transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
  transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
}

.zoom_in_effect:hover .zoom_in_img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.font_300 {
  font-weight: 300 !important;
}

.font_400 {
  font-weight: 400 !important;
}

.font_500 {
  font-weight: 500 !important;
}

.font_600 {
  font-weight: 600 !important;
}

.font_700 {
  font-weight: 700 !important;
}

.font_800 {
  font-weight: 800 !important;
}

.cre_top_scroll {
  display: -ms-inline-grid;
  display: inline-grid;
  place-items: center;
  background-color: #F26522;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  -webkit-transition: background-color .3s, opacity .5s, visibility .5s;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}

.cre_top_scroll i {
  font-size: 24px;
  color: #fff;
}

.cre_top_scroll:hover {
  cursor: pointer;
  background-color: #333;
}

.cre_top_scroll:active {
  background-color: #555;
}

.cre_top_scroll.show {
  opacity: 1;
  visibility: visible;
}

/**************** common css end ****************/
/******** base color css ********/
button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
}

.cu_btn {
  display: inline-block;
  padding: 20px 40px;
  line-height: 19px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: "Roboto Slab", serif;
  min-width: 180px;
  text-align: center;
}

@media (max-width: 767.98px) {
  .cu_btn {
    padding: 17px 20px;
    font-size: 15px;
  }
}

.cu_btn.lg_btn {
  padding: 25px 44px;
}

.cu_btn.md_btn {
  padding: 19px 26px;
}

.cu_btn.xs_btn {
  padding: 14px 26px;
}

.cu_btn.btn_1 {
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid #fff;
  color: #fff;
}

.cu_btn.btn_1:hover {
  background-color: #F26522;
  border-color: #F26522;
  color: #fff;
}

.cu_btn.btn_2 {
  background-color: transparent;
  border: 2px solid rgba(17, 17, 17, 0.2);
  color: #111;
}

.cu_btn.btn_2:hover {
  background-color: #F26522;
  border-color: #F26522;
  color: #fff;
}

.cu_btn.btn_3 {
  background-color: #F26522;
  border: 2px solid #F26522;
  color: #fff;
}

.cu_btn.btn_3:hover {
  background-color: #fff;
  border-color: #fff;
  color: #F26522;
}

.cu_btn.btn_4 {
  background-color: #111;
  border: 2px solid #111;
  color: #fff;
}

.cu_btn.btn_4:hover {
  background-color: #F26522;
  border-color: #F26522;
}

.cu_btn.btn_5 {
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto Slab", serif;
  padding: 17px 40px;
}

.cu_btn.btn_5:hover {
  background-color: #F26522;
  border-color: #F26522;
}

.cu_btn.base_btn {
  background-color: #F26522;
  border: 2px solid #F26522;
  color: #fff;
}

.cu_btn.base_btn:hover {
  background-color: #111;
  border-color: #111;
  color: #fff;
}

.cu_btn.white_btn {
  background-color: #fff;
  border: 2px solid #fff;
  color: #111;
}

.cu_btn.white_btn:hover {
  border-color: #F26522;
  color: #fff;
  background-color: #F26522;
}
/*# sourceMappingURL=all.css.map */