.banner {
    padding: 96px 0;
    position: relative;

    .banner-bg {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 330px;
        @media #{$e_extra_big_screen}{
           display: none;
        }
        @media #{$extra_big_screen}{
           display: none;
        }
        @media #{$big_screen}{
           display: none;
        }
        @media #{$medium_device}{
           display: none;
        }
        @media #{$tab}{
           display: none;
        }
    }
}

.banner-text {
    margin-left: -235px;
    @media #{$e_extra_big_screen}{
        margin-left: 0;
    }
    @media #{$extra_big_screen}{
        margin-left: 0;
    }
    @media #{$big_screen}{
        margin-left: 0;
    }
    @media #{$medium_device}{
        margin-left: 0;
    }
    @media #{$tab}{
        margin-left: 0;
        margin-bottom: 50px;
    }

    .banner-hadding {
        font-weight: $font_medium;
        @media #{$x_small_mobile}{
            font-size: 50px;
        }

        .fw-bold {
            color: $base_color_1;
        }
    }

    .banner-titel {
        font-weight: $font_medium;
        font-size: 24px;
        padding-top: 20px;
        padding-bottom: 39px;
    }

    .banner-btn {
        @extend %common-btn;
        margin-bottom: 40px;
    }
}

.banner-select {
    .form-select {
        border-color: $base_color_1;
        padding-top: 32px;
        padding-bottom: 32px;
        border-radius: 8px;
        max-width: 240px;
        font-size: 28px;
        background-image: url(../img/Polygon-1.png);
        @media #{$tab}{
            padding-top: 15px;
            padding-bottom: 15px;
         }
        @media #{$x_small_mobile}{
            font-size: 16px;
         }
    }

    .form-select:focus {
        border-color: none !important;
        box-shadow: none;
    }
}