.categories{
    padding-bottom: 150px;
    .container-fluid{
        max-width: 1745px;
    }
    .p-x-25{
        padding-right: 25px;
        padding-left: 25px;
    }
    .hadding{
        margin-bottom: 60px;
        text-transform: uppercase;
    }
}
.single-categorie{
    padding: 20px 22px;
    background-color: #fafafa;
    border: 1px solid transparent;
    border-radius: 16px;
    .sin-categorie-img{
        border-radius: 16px;
        height: 328px;
        background-color: $white;
        text-align: center;
        @media #{$big_screen}{
            padding: 20px;
        }
        @media #{$medium_device}{
            padding: 20px;
        }
        @media #{$tab_device}{
            padding: 20px;
            height: 300px;
        }
        @media #{$large_mobile}{
            padding: 20px;
        }
        @media #{$x_small_mobile}{
            height: 220px;
            padding: 20px;
        }
    }
    .categorie-title{
        margin-top: 38px;
        margin-bottom: 25px;
        text-transform: uppercase;
        @media #{$extra_big_screen}{
            font-size: 22px;
        }
        @media #{$tab_device}{
            font-size: 24px;
        }
        @media #{$x_small_mobile}{
            font-size: 20px;
        }
    }
    .categorie-arow{
        height: 73px;
        width: 73px;
        line-height: 73px;
        text-align: center;
        border-radius: 50%;
        display: inline-block;
        background-color: $white;
        transition: .4s;
        i{
            font-size: 30px;
            line-height: 73px;
            color: $base_color_1;
        }
        &:hover{
            background-color: $base_color_1;
            i{
                color: #fff;
                animation: left-right 2s linear infinite;
            }
        }
    }
}
@media #{$big_screen}{
    .mb-md-40{
        margin-bottom: 50px;
    }
}
@media #{$medium_device}{
    .mb-md-40{
        margin-bottom: 50px;
    }
}
@media #{$large_mobile}{
    .mb-xs-40{
        margin-bottom: 50px;
    }
}
@media #{$small_mobile}{
    .mb-xs-40{
        margin-bottom: 50px;
    }
}
@media #{$x_small_mobile}{
    .mb-xs-40{
        margin-bottom: 40px;
    }
}