
.navbar-toggle .icon-bar {
    background-color: $white;
}

.navbar .navbar-toggler{
    border: none;
    span{
        display: block;
        height: 3px;
        width: 40px;
        background-color: $base_color_1;
        margin: 7px;
        transition: .4s;
        &:nth-of-type(1){
            transform: rotate(45deg);
            transform-origin: 13% 0%;
        }
        &:nth-of-type(2){
            opacity: 0;
        }
        &:nth-of-type(3){
            transform: rotate(-45deg);
            transform-origin: 12% 150%;
        }
    }
}
.navbar-toggler.collapsed span:nth-of-type(1){
    transform: rotate(0) !important;
}
.navbar-toggler.collapsed span:nth-of-type(2){
    opacity: 1 !important;
}
.navbar-toggler.collapsed span:nth-of-type(3){
    transform: rotate(0) !important;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}

header{
	padding: 7px 0;
	.navbar{
		.navbar-nav{
			.nav-item{
				margin: 0 18px;
				.nav-link{
					color: $base_Color_3;
					transition: .4s;
					&:hover{
						color: $base_color_1;
					}
				}
			}
		}
		.shopping{
			display: inline-block;
			height: 60px;
			width: 60px;
			border-radius: 50%;
			background-color: $black;
			text-align: center;
			line-height: 60px;
			transition: .4s;
			&:hover{
				background-color: $base_color_1;
			}
		}
	}
}