//color
$white: #fff;
$black: #000;
$base_color_1: #08aaee;
$base_color_2: #fafafa;
$base_Color_3: #14193b;
$base_Color_4: #f2f2f2;
$base_color_5: #f5a021;
$base_color_6: #ebf9ff;
$heading_color: #14193b;
