//typography
$h1_font_size: 72px;
$h2_font_size: 50px;
$h3_font_size: 40px;
$h4_font_size: 30px;
$h5_font_size: 24px;
$body-font-size: 16px;

//font weight
$font_black_bold: 900;
$font_extra_bold: 800;
$font_bold: 700;
$font_sami_bold: 600;
$font_medium: 500;
$font_ragular: 400;
$font_light: 300;

//font line height
$body_line_height: 28px;
$h1_line_height: 1.3;
$h2_line_height: 1.3;
$h3_line_height: 1.3;
$h4_line_height: 1.3;
$h5_line_height: 1.3;

.font_300 {
    font-weight: 300 !important;
}

.font_400 {
    font-weight: 400 !important;
}

.font_500 {
    font-weight: 500 !important;
}

.font_600 {
    font-weight: 600 !important;
}

.font_700 {
    font-weight: 700 !important;
}

.font_800 {
    font-weight: 800 !important;
}
h2{
    @media #{$x_small_mobile}{
        font-size: 36px;
    }
}