/**************** common css start ****************/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700;800;900&display=swap');

body {
    font-family: $body_font;
    padding: 0;
    margin: 0;
    font-size: $body-font-size;
    font-weight: $font_ragular;
    letter-spacing: 0em;
    line-height: $body_line_height;
    color: $base_Color_3;
    overflow-x: hidden;
}

input:hover,
input:focus {
    outline: none !important;
    box-shadow: 0px 0px 0px 0px transparent;
}

:focus {
    outline: -webkit-focus-ring-color auto 0;
}
a {
    text-decoration: none;
    @include transform_time(.3s);

    &:hover {
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading_color;
    font-family: $heading_font;
    font-weight: $font_medium;
    margin:0;
    padding: 0;
}

h1 {
    font-size: $h1_font_size;
    font-weight: $font_bold;
}

h2 {
    font-size: $h2_font_size;
    font-weight: $font_bold;
}

h3 {
    font-size: $h3_font_size;
    font-weight: $font_bold;
}

h4 {
    font-size: $h4_font_size;
    font-weight: $font_bold;
}

h5 {
    font-size: $h5_font_size;
    font-weight:$font_bold;
}

p {
    line-height: $body_line_height;
    font-size: $body_font_size;
    margin: 0px;
    padding: 0;
    font-family: $body_font;
    font-weight: $font_ragular;
}

a:focus,
.button:focus,
button:focus,
.btn:focus {
    text-decoration: none;
    outline: none;
    box-shadow: none;
    -webkit-transition: all .25s cubic-bezier(.645, .045, .355, 1);
    transition: all .25s cubic-bezier(.645, .045, .355, 1);
}

@media (min-width: 1400px) {
    .custom_container {
        max-width: 1200px;
    }
}

/**************** common css end ****************/