.top-scroll {
    display: inline-grid;
    place-items: center;
    background-color: $base_color_1;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
    @media #{$large_mobile}{
        display: none;
    }
    @media #{$small_mobile}{
        display: none;
    }
    @media #{$x_small_mobile}{
        display: none;
    }
    i{
        font-size: 24px;
        color: $white;
        animation-name: down;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-play-state: running;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    }
}

.top-scroll:hover {
    cursor: pointer;
    background-color: $heading_color;
}

.top-scroll:active {
    background-color: $heading_color;
}

.top-scroll.show {
    opacity: 1;
    visibility: visible;
}